body {
    min-width: 320px;
    font-style: normal;
    font-family: var(--main-font);
    line-height: 1.5;
    font-weight: 400;
    background-color: var(--black);
    color: var(--color-default);
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    @include media('1024', max) {
        overflow-x: hidden;
    }

    &._lock {
        overflow-y: hidden;
    }
}

a {
    text-decoration: none;
    color: currentColor;
}
